POSTGRES_PASSWORD=XnkKBX^5g3mjR9MEuZFY^W^y!r!%gBtF5ru3ih3GV8bM9v@4w5
DATABASE_URL=postgresql://academy_user:trocar_em_producao@db:5432/academy
REDIS_URL=redis://redis:6379
PORT=3210
JWT_SECRET=QxSNjes2C3saX2+F9G2G2VEeyMa007S1TKlx/P0Crsfdzj5qr+cLc9c4DZIhNxchak9cv+aFsVdOiG6C1GU7uw==
JWT_REFRESH_SECRET=+nA2fkzsjaObT4kJK7P/D+j7B21GlA1T8v10L/el2qsgqhaYPPUS7ncB1Ni++mqRGPjinBKZ+BQxYeDUgwD0aA==
SECRETS_MASTER_KEY_FILE=/run/secrets/academy_master_key
